*.o
*.lo
*.a
*.la
*.deps
*.libs

/testing/aclocal.m4
/testing/autoconf.mk
/testing/autom4te.cache/
/testing/build-aux/
/testing/config.*
/testing/configure
/testing/libtool
/testing/m4/*.m4
/testing/Makefile

/testing/a/y/x
/testing/a/y/y
/testing/a/y/1/one
/testing/c/c
/testing/c/cxx
/testing/c/candcxx
/testing/c/csh
/testing/e/e
/testing/e/esh
/testing/g/g
/testing/g/g.c
/testing/t/t1
/testing/t/t2
/testing/1
/testing/m/2/tool
